header{
    
    box-shadow: 0px 0 5px 7px darkcyan;
    padding: 10px;
    text-align: center;
    font-size: larger;
    font-variant: small-caps;
    font-style: oblique;
    color:white;
    margin-top: 3vh;
    margin-left: 4.2vw;
    max-width: 90vw;
    border-radius: 5px;
    background-color: rgba(20,15,20,1);
}
body{
    width: 100%;
    margin:0;
    background-image: url('../assets/wallpaperflare.com_wallpaper.jpg');
    background-repeat: repeat-y;
    background-size:cover;
    font-weight: 700;
    overflow:scroll;
    height: 100%;
}
main{
    
    background-color:darkslategrey ;
    position: absolute;
    height: auto;
    margin: 5vh 3vw;
    backdrop-filter: blur(3px);
    border-radius: 5px;
    
}
.container{
    border:2px solid lightseagreen;
    box-shadow: 2px 4px 20px lightblue;
    height: 100%;
}

canvas{
    
    
    width: 100%;
    margin: 0;
    padding: 0;
    height: 100%;
    
    
    
}
_3D_Object{
    min-width: 750px;
    min-height: 530px;
}
.text{
    height: 100%;
    width: 100%;
    font-size: 2rem;
    color:rgb(230,200,210);
    border:10px solid black;
    text-wrap: wrap;
    /* inline-size: 20%; */
    padding:0;
}
.text h3{
    height: 100%;
}
.flex{
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    
}
